@font-face {
  font-family: DetailFont;
  src: url('./styles/fonts/감탄로드바탕체 Regular.ttf') format('truetype');
}

.Detail {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.detail_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #ccc;
  margin-bottom: 15px;
}

.DateText,
.TitleText,
.rating,
.detail_content{
font-family: DetailFont;
}

.DateText{
  font-size: 15px;
}

.TitleText{
  font-size: 27px;
  letter-spacing: 1px; /*자간조정*/
}

.detail_header h4,
.detail_header h2 {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-grow: 1; /* 버튼 요소들과의 공간을 최대한 활용 */
}

.detail_header h4:hover {
  white-space: normal;
}

.detail_header h2:hover {
  white-space: normal;
}

.btn {
  display: flex;
  gap: 10px;
}

.edit_button,
.delete_button {
  padding: 10px 20px;
  background-color: #6fb7abc0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.detail_viewer {
  display: flex;
  flex-direction: column;
}

.detail_viewer img {
  width: 100%;
  max-height: 50vh; /* 화면 높이의 50%로 설정 */
  object-fit: cover; /* 이미지가 요소에 맞게 잘리지 않고 유지되도록 설정 */
  margin-bottom: 20px;
}
.detail_viewer div {
  margin-bottom: 10px;
  padding: 15px; /* 내부 여백 추가 */
}

.rating{
  font-size: 30px;
}

.detail_viewer .detail_content {
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  max-height: calc(33vh - 30px); /* 화면의 3분의 1 정도의 높이로 설정 (상하 여백을 고려하여 30px을 빼줌) */
  overflow: auto; /* 내용이 넘칠 경우 스크롤 표시 */
  letter-spacing: 1px; /*자간조정*/
  font-size: 17.5px;
}