.Edit {
  width: 800px;
  height: 900px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit_title_rating {
  display: flex;
}

.edit_title {
  border: 2px solid black;
  width: 600px;
  height: 50px;
  padding-left: 10px;
  margin-top: 20px;
}

.edit_rating {
  width: 90px;
  height: 50px;
  margin-left: 10px;
  font-size: 16px;
  margin-top: 20px;
  padding-left: 10px;
  border: 2px solid black;
}

.edit_img_content {
  border: 2px solid black;
  width: 700px;
  height: 500px;
  margin-top: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  /* position: relative; */
}

.edit_text {
  border: 2px solid black;
  width: 700px;
  height: 180px;
  padding-left: 10px;
}

.edit_button_container {
  width: 700px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.edit_review_container {
  margin-top: 20px;
  width: 700px;
}

.edit_image {
  object-fit: cover; 
  transition: filter 0.3s ease; 
}

.edit_image:hover {
  filter: brightness(70%); 
}

.edit_img_editText {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-weight: bold;
  opacity: 0; 
  transition: opacity 0.5s ease; 
}

.edit_image {
  position: relative;
}

.edit_img_wrapper:hover .edit_img_editText {
  opacity: 1;
}