@font-face {
  font-family: TextFont;
  src: url('../styles/fonts/MICEGothic.ttf') format('truetype');
}

@font-face {
  font-family: WelcomeFont;
  src: url('../styles/fonts/Jalnan2TTF.ttf') format('truetype');
}

.editContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 92vh;
  background-color: rgba(143, 176, 180, 0.3);
}

.editContent {
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  width: 700px;
  height: 950px;
  display: inline-block;
  padding: 30px;
  box-shadow: rgb(88, 167, 150, 0.6) 0px 0px 29px 0px;
  background-color: white;
  border-radius: 20px;
}

.BodyTopText {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
  font-family: WelcomeFont;
}

.myPicture {
  margin: auto;
  margin-bottom: 40px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 70%;
  position: relative;
  box-shadow: rgb(88, 167, 150, 0.6) 0px 0px 29px 0px;
}

.profile {
  width: 100%;
  height: 100%;
  border-radius: 70%;
  object-fit: cover; /* 이미지 받아서 비율 유지 */
  transition: filter 0.3s ease; /* 필터 속성에 대한 전환 효과 설정 */
}

.editPicture {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 70%;
  position: relative;
  box-shadow: rgb(88, 167, 150, 0.6) 0px 0px 29px 0px;
}

.profile:hover {
  filter: brightness(70%); /* 마우스가 위로 올라가면 프로필사진이 어두워짐 */
}

.profileWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 프로필 이미지 원형으로 뜨게 설정 */
  width: 150px;
  height: 150px;
  border-radius: 70%;
  overflow: hidden;
}

.editText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0; /* 초기에는 투명하게 설정하여 숨김 */
  transition: opacity 0.5s ease; /* 투명도에 대한 전환 효과 설정 */
}

.profileWrapper:hover .editText {
  opacity: 1; /* 프로필사진 위에 마우스 올리면 수정 글씨가 나옴 */
}

.profile {
  width: 100%;
  height: 100%;
  border-radius: 70%;
  object-fit: cover; /* 이미지 받아서 비율 유지 */
  transition: filter 0.3s ease; /* 필터 속성에 대한 전환 효과 설정 */
}

.inputField {
  width: 340px;
  padding: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 35px;
}

.editButton {
  display: block;
  margin-left: 10px;
  margin: 10px auto 0;
  margin-top: 62px;
  background-color: rgb(129, 183, 201);
  border: none;
  border-radius: 35px;
  width: 340px;
  height: 50px;
}

.cancelButton {
  display: block;
  color: lightgray;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  border: none;
  transition: color 0.3s;
  font-size: medium;
}

.editButton:hover {
  background-color: rgb(119, 165, 180);
  font-weight: bold;
}

.cancelButton:hover {
  color: gray;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}
