
.imageSection {
  margin-top: 2%;
  background-size: cover; /* 이미지를 컨테이너에 맞게 조정합니다 */
  background-position: center; /* 이미지를 가운데 정렬합니다 */
  width: 100%; /* 가로 크기 지정a */
  height: 380px; /* 세로 크기 지정 */
}

.searchContainer {
  display: flex;
  align-items: center;
  max-width: 690px;
  margin: 0 auto;
  margin-top: 9%;
  margin-bottom: 10%;
}

.searchInput {
  flex: 1;
  padding: 10px 20px;
  border: 3px solid #ddd;
  border-radius: 12px;
  font-size: 20px;
  margin-right: 10px;
}

.searchButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #0056b3;
}
