
@font-face {
  font-family: InputFont;
  src: url('../styles/fonts/MICEGothic.ttf') format('truetype');
}

@font-face {
  font-family: WelcomeFont;
  src: url('../styles/fonts/Jalnan2TTF.ttf') format('truetype');
}

.signlogo {
  box-shadow: rgb(88, 167, 150, 0.6) 0px 0px 29px 0px;
  border-radius: 50%;
}

.inputField,
.signupButton{
  font-family: InputFont;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 92vh;
  background-color: rgba(143, 176, 180, 0.3);
}

.content {
  text-align: center;
  margin-top: 40px;
  width: 700px;
  height: 580px;
  display: inline-block;
  padding: 30px;
  box-shadow: rgb(88, 167, 150, 0.6) 0px 0px 29px 0px;
  background-color: white;
  border-radius: 20px;
}

.heading {
  text-align: center;
  margin-top: 60px; 
  margin-bottom: 80px;
  font-family: WelcomeFont;
}

.inputField {
  width: 340px;
  padding: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 35px;
}



.mgContainer {
  display: flex;
  justify-content: 120px; 
  align-items: flex-start;
  
}

.mbtiContainer {
  width: 100px;
  padding: 10px;
  text-align: center;
  border-radius: 35px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
 font-size: 15px;
}

.genderContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: InputFont;
  font-size: 13px;
}

.genderButton {
  background-color: #fff;
  border-radius: 35px; 
  padding: 12px 20px; 
  margin-right: 120px;
  cursor: pointer; 
  transition: all 0.3s ease;
}

.maleButton{
  margin-right: 10px;
}

.femaleButton{
  margin-left: 10px;
}

.genderButton:hover {
  background-color: rgb(255, 255, 255); 
}

.selected {
  background-color: rgb(129, 183, 201);
  color: #fff; 
}

.mbtiContainer,
.genderContainer {
  width: calc(50% - 5px); 
  margin-right: 5px; 
}

.signupButton {
  display: block;
  margin-left: 10px;
  margin: 10px auto 0;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 35px;
  width: 340px;
  height: 50px;
}

.signupButton:hover {
  background-color: rgb(129, 183, 201);
  font-weight: bold;
  
}

