

.container {
  text-align: center; /* 가로 방향 중앙 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  flex-direction: column;
}

.heading {
  text-align: center;
  margin-top: 20px; 
  margin-bottom: 20px;
}

.inputField {
  width: 80%;
  padding: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 35px;
}

.content {
  text-align: center;  
  width: 300px;
  display: inline-block;
  padding: 20px;
}

.buttonContainer{
  text-align: center;
}

.signinButton{
  display: 'block';
  margin: 0 auto;
  margin-top: 10px; 
}
.signinButton:hover {
  background-color: rgb(112, 157, 172);
}

.signupButton {
  /* 버튼 사이에 여백 추가 */
  margin-left: 10px; 
  margin: 10 auto;
}

.signupButton:hover{
  background-color: rgb(112, 157, 172);
}

